/* import mixins */
/* import normalize.css */

/* ==== Transpile SCSS to CSS ====

npm install node-sass
Run transpile SCSS to CSS with command - npm run scss
                   -- or --
install ruby
sass --default-encoding UTF-8 --watch style/scss:style/css --style expanded
note: later add import css(package) to scss
==== */

/* ==== Normalize ====

npm install node-normalize-scss --save-dev
https://github.com/ranjandatta/node-normalize-scss
==== */


@import "basic";
@import "mixins";

$color_1: #529A86;
$color_2: #FCD2A8;
$color_3: #007D75;
$color_4: #EC6778;
$color_5: #000000;






body{
    background-color: $color_2;
}
.logo_wrapper{
    @include flexbox;
    @include justify-content(center);
    padding: 10px 0;
}
.logo{
    height: 70px;
}
.header_nav{
    @include flexbox;
    @include justify-content(center);
    background-color: $color_1;
}
.nav_item{
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    color: $color_5;
    text-transform: uppercase;
}

